{% extends 'base.html' %}

{% block content %}
   {% include "edit_profile.html" %} 
   {% include "profile_upload.html" %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
            {% if user_profile.profileimg %}
            <img src="{{ user_profile.profileimg.url }}" alt="Profile Image">
            {% else %}
            <img src="/static/images/default_profile.png" alt="Default Profile Image">
            {% endif %}
        </div>
        <div class="profile-info">
            <h2>{{ user_object.username }}</h2>
            <p>{{ user_profile.bio }}</p>
            <p>{{ user_profile.location }}</p>
            <div class="profile-stats">
                <span>{{ user_followers }} Followers</span>
                <span>{{ user_following }} Following</span>
                <span>{{ user_stories_length }} Stories</span>
            </div>
            
            {% if request.user.username == user_profile.user.username %}
            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1; margin: 5px;" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@getbootstrap">
                Edit profile
            </button>
            {% else %}
            <form action="/follow" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ user.username }}" name="follower" />
                <input type="hidden" value="{{ user_object.username }}" name="user" />
                <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1; margin: 5px;">
                    {{ follow_unfollow }}
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="stories-container">
        {% for story in user_stories %}
        <div class="story-card">
            {% if story.image %}
            <div class="story-image" style="background-image: url('{{ story.image.url }}');"></div>
            {% else %}
            <div class="story-image" style="background-color: #333;">
                <p class="no-image-text">No image available</p>
            </div>
            {% endif %}
            <div class="story-details">
                <h2>{{ story.caption }}</h2>
                <p>{{ story.short_description }}</p>
                <div class="card-body">
                    <h5 class="card-title">{{ story.caption }}</h5>
                    {% if request.user == user_profile.user %} 
                    <a href="/delete/{{ story.id }}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
